@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');

:root {
  --font: 'League Spartan', sans-serif;
  --keys-hover: hsl(36, 36%, 95%);
  --function-keys-hover: hsl(225, 31%, 62%);
  --equal-hover: hsl(6, 70%, 65%);
  --theme-2-func-keys-hover: hsl(185, 41%, 49%);
  --theme-3-keys-hover: hsl(268, 52%, 41%);
  /* THEME 1 */
  /* Backgrounds */
  --theme-1-main-background: hsl(222, 26%, 31%);
  --theme-1-toggle-key-background: hsl(223, 31%, 20%);
  --theme-1-screen-background: hsl(224, 36%, 15%);

  /* Keys */
  --theme-1-key-background: hsl(225, 21%, 49%);
  --theme-1-key-shadow: hsl(224, 28%, 35%);
  --theme-1-equalToKey-background: hsl(6, 63%, 50%);
  --theme-1-equalToKey-shadow: hsl(6, 70%, 34%);
  --theme-1-keys-background: hsl(30, 25%, 89%);
  --theme-1-keys-shadow: hsl(28, 16%, 65%);

  /* Text */
  --theme-1-keys-color-dark: hsl(221, 14%, 31%);
  --theme-1-keys-color-light: hsl(0, 0%, 100%);

  /* THEME 2 */
  /* Backgrounds */
  --theme-2-main-background: hsl(0, 0%, 90%);
  --theme-2-toggle-key-background: hsl(0, 5%, 81%);
  --theme-2-screen-background: hsl(0, 0%, 93%);

  /* Keys */
  --theme-2-key-background: hsl(185, 42%, 37%);
  --theme-2-key-shadow: hsl(185, 58%, 25%);
  --theme-2-equalToKey-background: hsl(25, 98%, 40%);
  --theme-2-equalToKey-shadow: hsl(25, 99%, 27%);
  --theme-2-keys-background: hsl(45, 7%, 89%);
  --theme-2-keys-shadow: hsl(35, 11%, 61%);

  /* Text */
  --theme-2-keys-color-dark: hsl(60, 10%, 19%);
  --theme-2-keys-color-light: hsl(0, 0%, 100%);

  /* THEME 3 */
  /* Backgrounds */
  --theme-3-main-background: hsl(268, 75%, 9%);
  --theme-3-toggle-key-background: hsl(268, 71%, 12%);
  --theme-3-screen-background: hsl(268, 71%, 12%);

  /* Keys */
  --theme-3-key-background: hsl(281, 89%, 26%);
  --theme-3-key-shadow: hsl(285, 91%, 52%);
  --theme-3-equalToKey-background: hsl(176, 100%, 44%);
  --theme-3-equalToKey-shadow: hsl(177, 92%, 70%);
  --theme-3-keys-background: hsl(268, 47%, 21%);
  --theme-3-keys-shadow: hsl(290, 70%, 36%);

  /* Text */
  --theme-3-keys-color-dark: hsl(52, 100%, 62%);
  --theme-3-keys-color-mild: hsl(198, 20%, 13%);
  --theme-3-keys-color-light: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body {
  /* background-color: var(--theme-1-main-background); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  font-size: 2rem;
}

.container {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header-logo {
  /* color: var(--theme-1-keys-color-light); */
  font-size: 1.875rem;
  font-weight: 700;
}

.theme-toggler-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  /* color: var(--theme-1-keys-color-light); */
}

.theme-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.4rem;
}

.toggler {
  display: flex;
  justify-content: space-around;
  align-items: inherit;
  gap: 1rem;
}

.toggler > div {
  cursor: pointer;
}

.toggler-track {
  /* background-color: var(--theme-1-toggle-key-background); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 105%;
  height: 1.2rem;
  padding: 0 0.1875rem;
  border-radius: 50px;
}

.toggler-slider {
  /* background-color: var(--theme-1-equalToKey-background); */
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 3.125rem;
}

.input-result-container {
  /* background-color: var(--theme-1-screen-background);
  color: var(--theme-1-keys-color-light); */
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  padding: 0.3125rem 1rem;
  width: 100%;
  height: 6rem;
  border: none;
  border-radius: 0.4125rem;
  outline: none;
}

.buttons-container {
  /* background-color: var(--theme-1-toggle-key-background); */
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 2rem 1.5rem;
  gap: 1rem;
  border-radius: 0.4125rem;
}

.buttons-container > * {
  /* background-color: var(--theme-1-keys-background); */
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--theme-1-keys-color-dark);
  text-align: center;
  border-radius: 0.4125rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.4125rem 0;
  box-shadow: 0 2px var(--theme-1-keys-shadow);
}

.del,
.reset,
.equal {
  /* color: var(--theme-1-keys-color-light); */
  text-transform: uppercase;
  font-size: 1rem;
}

.reset {
  grid-column: 1 / 3;
}

.equal {
  grid-column: 3 / 5;
  /* background-color: var(--theme-1-equalToKey-background);
  box-shadow: 0 2px var(--theme-1-equalToKey-shadow); */
}

.reset,
.equal {
  padding: 0.6rem;
}

/* //////////////////////////////////////////////////// */
/* THEME 1 */

.theme-1-background {
  background-color: var(--theme-1-main-background);
}

.theme-1-color {
  color: var(--theme-1-keys-color-light);
}

.theme-1-toggler-track {
  background-color: var(--theme-1-toggle-key-background);
}

.theme-1-slider {
  background-color: var(--theme-1-equalToKey-background);
}

.theme-1-input-result-container {
  background-color: var(--theme-1-screen-background);
  color: var(--theme-1-keys-color-light);
}

.theme-1-buttons-container {
  background-color: var(--theme-1-toggle-key-background);
}

.theme-1-buttons-container > *:hover {
  background-color: var(--keys-hover);
}

.theme-1-del,
.theme-1-reset {
  background-color: var(--theme-1-key-background);
  box-shadow: 0 2px var(--theme-1-key-shadow);
}

.theme-1-del:hover,
.theme-1-reset:hover {
  background-color: var(--function-keys-hover);
}

.theme-1-del,
.theme-1-reset,
.theme-1-equal {
  color: var(--theme-1-keys-color-light);
}

.theme-1-equal {
  background-color: var(--theme-1-equalToKey-background);
  box-shadow: 0 2px var(--theme-1-equalToKey-shadow);
}

.theme-1-slider:hover,
.theme-1-equal:hover {
  background-color: var(--equal-hover);
}

/* //////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////// */
/* THEME 2 */

.theme-2-background {
  background-color: var(--theme-2-main-background);
}

.theme-2-color {
  color: var(--theme-2-keys-color-dark);
}

.theme-2-toggler-track {
  background-color: var(--theme-2-toggle-key-background);
}

.theme-2-slider {
  background-color: var(--theme-2-equalToKey-background);
}

.theme-2-input-result-container {
  background-color: var(--theme-2-screen-background);
  color: var(--theme-2-keys-color-dark);
}

.theme-2-buttons-container {
  background-color: var(--theme-2-toggle-key-background);
}

.theme-2-button-container > * {
  background-color: var(--theme-2-keys-background);
  box-shadow: 0 2px var(--theme-2-keys-shadow);
}

.theme-2-button-container > *:hover {
  background-color: var(--theme-2-main-background);
}

.theme-2-del,
.theme-2-reset {
  background-color: var(--theme-2-key-background);
  color: var(--theme-2-keys-color-light);
  box-shadow: 0 3px var(--theme-2-key-shadow);
}

.theme-2-reset:hover,
.theme-2-del:hover {
  background-color: var(--theme-2-func-keys-hover);
}

.theme-2-slider:hover,
.theme-2-equal:hover {
  background-color: var(--equal-hover);
}

.theme-2-equal {
  background-color: var(--theme-2-equalToKey-background);
  box-shadow: 0 2px var(--theme-2-equalToKey-shadow);
}

/* //////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////// */
/* THEME 3 */

.theme-3-background {
  background-color: var(--theme-3-main-background);
}

.theme-3-color {
  color: var(--theme-3-keys-color-dark);
}

.theme-3-toggler-track {
  background-color: var(--theme-3-toggle-key-background);
}

.theme-3-slider {
  background-color: var(--theme-3-equalToKey-background);
}

.theme-3-input-result-container {
  background-color: var(--theme-3-screen-background);
  color: var(--theme-3-keys-color-dark);
}

.theme-3-buttons-container {
  background-color: var(--theme-3-toggle-key-background);
}

.theme-3-buttons-container > * {
  background-color: var(--theme-3-keys-background);
  color: var(--theme-3-keys-color-dark);
  box-shadow: 0 3px var(--theme-3-keys-shadow);
}

.theme-3-buttons-container > *:hover {
  background-color: var(--theme-3-keys-hover);
}

.theme-3-del,
.theme-3-reset {
  background-color: var(--theme-3-key-background);
  color: var(--theme-3-keys-color-light);
  box-shadow: 0 3px var(--theme-3-key-shadow);
}

.theme-3-reset:hover,
.theme-3-del:hover {
  background-color: var(--theme-3-keys-shadow);
}

.theme-3-equal {
  background-color: var(--theme-3-equalToKey-background);
  color: var(--theme-3-color-mild);
  box-shadow: 0 3px var(--theme-3-equalToKey-shadow);
}

.theme-3-slider:hover,
.theme-3-equal:hover {
  background-color: var(--theme-3-equalToKey-shadow);
}
/* /////////////////////////////////////////////////// */

@media (max-width: 485px) {
  .container {
    max-width: 90%;
  }
}
